<!-- Start Donate Script -->
<link rel="stylesheet" href="{{ "/assets/css4.1/bootstrapcustom.min.css" crossorigin="anonymous" | relative_url }}">

<div class="bootstrapiso">
	<div class="card">
	  <div class="card-header text-white" style="background-color: #007bff;">
		For More Updates ...
	  </div>
	  <div class="card-body">
		<p class="card-text"> Subscribe and download our best stuff (<i><b>for free</b></i>) on Civil Engineering Essentials and several other topics</p>
		<a href="https://docs.google.com/forms/d/e/1FAIpQLScURIzUxvb4tjywGFZYxrp8w1ZcwOQbXmStFpTe6P19d6_RHA/viewform" class="btn btn-primary float-right">Subscribe...</a>
	  </div>
	</div>
</div>
<!-- End Donate Script  -->