<link rel="stylesheet" href="{{ "/assets/css4.1/bootstrapcustom.min.css" crossorigin="anonymous" | relative_url }}">
<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li>
	  <li><a href="{{ '/courses' | prepend: site.baseurl }}">All Courses</a></li>
	  <li><a href="{{ '/misc' | prepend: site.baseurl }}">Miscellaneous</a></li>	 
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
<!--
	  <li><a href="{{ '/' | prepend: site.baseurl }}">
	         <div class="bootstrapiso">
				<a class="btn btn-primary btn-sm" href="{{ '/buy-me-a-coffee-page' | prepend: site.baseurl }}" role="button">Button-Test</a> 
			 </div>
		  </a>
	  </li>	  	
-->
<!--

	  <li>
		 <div class="bootstrapiso">
<!-- Example single danger button - ->
				<div class="btn-group">
				  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Action
				  </button>
				  <div class="dropdown-menu">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>					
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="#">Separated link</a>
				  </div>
				</div>
		 </div>

	  </li>	  	
-->	 	  
    </ul>

  </div>
</nav>